<!DOCTYPE html>
<html lang="es">
 <head>
 <meta charset="utf-8">
 <title>Table Dance</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="description" content="A simple crud app made with the vue js and django">
<meta name="keywords" content="Table Dance">
 <!-- bootstap -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <!-- boostrap css -->






</head>
<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
      <ul class="navbar-nav" >
        <li class="nav-item active">
          <a class="nav-link" href="/bailarina">Bailarinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teatro">Teatros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nacionalidad">Nacionalidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Cerrar sesion</a>
        </li>
      </ul>
  </nav>
  
 {% if user.is_authenticated %}
		<div id="starting">

				<div class="container"> 
				 <div class="row"> 
				   <h1> Bailarinas
           
				   <button class = "btn btn-success" data-toggle="modal" data-target="#addBailarinaModal"> Agregar nacionalidad </button> 
            
				   </h1> 
				   <table class = "table"> 
					 <thead> 
					   <tr> 
						  
						 <th scope="col"> Nombre </th> 
						 
					   </tr> 
					 </thead> 
					 <tbody> 
					   <tr v-for ="nacionalidad in nacionalidades"> 
						<!--  <th scope =" row ">${bailarina.id} </th>  -->
						 <td>${nacionalidad.nombre}</td>
						
						 <td> 
						   <button class = "btn btn-info" v-on:click="getNacionalidad(nacionalidad.id)"> Editar </button> 
						   <button class = "btn btn-danger" v-on:click="deleteNacionalidades(nacionalidad.id)"> Eliminar </button> 
						 </td> 
					   </tr> 
					 </tbody> 
				   </table> 

				   <!-- Add Article Modal -->
          <div class="modal fade" id="addBailarinaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Añadir Nacionalidad</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="addNacionalidad()">
                <div class="modal-body">
                    <div class="form-group">
                      <label >Nombre</label>
                      <input
                        type="text"
                        class="form-control"
                        id="nombre"
                        placeholder="Ingrese nombre"
                        v-model="newNacionalidad.nombre"
                        required="required" >
                    </div>
                   
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary" >Guardar</button>
                </div>
                </form>
              </div>
            </div>
           <div class="loading" v-if="loading===true">cargando&#8230;</div>          
          </div>
          <!-- End of article modal -->



          <!-- Edit Article Modal -->
          <div class="modal fade" id="editarBailarinaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Editar nacionalidad</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="updatedNacionalidad()">
                <div class="modal-body">
                    <div class="form-group">
                      <label >Nombre</label>
                      <input
                        type="text"
                        class="form-control"
                        id="nombre"
                        placeholder="Ingrese nombre"
                        v-model="currentNacionalidad.nombre"
                        required="required" >
                    </div>
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
                </form>
              </div>
            </div>
            <div class="loading" v-if="loading===true">Cargando&#8230;</div>
          </div>
          <!-- End of edit article modal -->






				 </div> 
			   </div> 
			   <div class ="loading" v-if ="loading === true"> Trabajando & # 8230; </div> 
	
    </div>
    {% endif %}










<!-- bootrtap js files -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
 <!-- vue.js files -->
 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
</body>
</html>

<script type="text/javascript">
	Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
	 new Vue({
	   el: '#starting',
	   delimiters: ['${','}'],
	   data: {
	   nacionalidades: [],
	   loading: true,
	   currentNacionalidad: {},
	   message: null,
	   newNacionalidad: { 'nombre': null },
	 },
	 mounted: function() {
		this.getNacionalidades();
	},
	 methods: {
		getNacionalidades: function() {
			this.loading = true;
			this.$http.get('/api/nacionalidad/')
				.then((response) => {
					this.nacionalidades = response.data;
					console.log(response.data);
					this.loading = false;
				})
				.catch((err) => {
					this.loading = false;
					console.log(err);
				})
		},
		getNacionalidad: function(id) {
			this.loading = true;
			this.$http.get(`/api/nacionalidad/${id}/`)
				.then((response)=>{
					this.currentNacionalidad = response.data;
					$("#editarBailarinaModal").modal('show');
					this.loading = false;
				})
				.catch((err) => {
					this.loading = false;
					console.log(err);
				})
			
		},
		addNacionalidad: function(){
			this.loading=true;
			this.$http.post('/api/nacionalidad/',this.newNacionalidad)
			.then((response) => {
			this.loading = false;
			this.getNacionalidades();
			})
			.catch((err) => {
			this.loading = false;
			console.log(err);
			})
		},
		updatedNacionalidad: function() {
			this.loadinng = true;
			this.$http.put(`/api/nacionalidad/${this.currentNacionalidad.id}/`,   this.currentNacionalidad)
				.then((response) => {
				this.loading = false;
				this.currentNacionalidad = response.data;
				this.getNacionalidades();
			})
			.catch((err) => {
				this.loading = false;
				console.log(err);
			})
		},
		deleteNacionalidades: function(id) {
			this.loading = true;
			this.$http.delete(`/api/nacionalidad/${id}/` )
				.then((response) => {
				this.loading = false;
				this.getNacionalidades();
			})
			.catch((err) => {
				this.loading = false;
				console.log(err);
			})
		}
		
		}
	 });
 </script>